<!DOCTYPE html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>StudyConnect</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/cards.css') }}">
</head>

<body>

<header class="header">
    <a class="logo" href="{{ url_for('index') }}">StudyConnect</a>

    <nav class="nav">
        <a href="{{ url_for('index') }}">{{ t("home") }}</a>

        {% if current_user.is_authenticated %}
            <a href="{{ url_for('discover') }}">{{ t("search") }}</a>
            <a href="{{ url_for('matches') }}">{{ t("matches") }}</a>
            <a href="{{ url_for('profile') }}">{{ t("profile") }}</a>
            <a class="logout-link" href="{{ url_for('logout') }}">{{ t("logout") }}</a>
        {% else %}
            <a href="{{ url_for('login') }}">{{ t("login") }}</a>
            <a href="{{ url_for('register') }}">{{ t("register") }}</a>
        {% endif %}

        <a href="{{ url_for('set_language', lang='ua') }}">UA</a>
        <a href="{{ url_for('set_language', lang='en') }}">EN</a>
    </nav>
</header>

<main class="container">
    {% block content %}{% endblock %}
</main>

</body>
</html>