{% extends "base.html" %}

{% block content %}

<h2>{{ t("register") }}</h2>

<form method="POST">

    <label for="username">{{ t("username") }}</label><br>
    <input type="text" id="username" name="username" required><br><br>

    <label for="email">{{ t("email") }}</label><br>
    <input type="email" id="email" name="email" required><br><br>

    <label for="password">{{ t("password") }}</label><br>
    <input type="password" id="password" name="password" required><br><br>

    <label for="confirm_password">{{ t("confirm_password") }}</label><br>
    <input type="password" id="confirm_password" name="confirm_password" required><br><br>

    <button type="submit" class="btn">
        {{ t("signup") }}
    </button>

</form>

{% endblock %}